<div class="body container">
    <div class="row">
        <div class="twelve columns">
            <button class="class-button" 
                ng-class="{ 'button-primary' : browser.isCurrentClass(class) }" 
                ng-click="browser.setClass(class)" 
                ng-repeat="class in browser.collection.classes">
                {{class}}
            </button>
        </div>
    </div>

    <div class="row display-options">
        <span>Image Display</span>
        <button ng-click="browser.viewOptions.enableTextOnly()" ng-class="{ 'button-primary' : browser.viewOptions.isTextOnly() }">None</button>
        <button ng-click="browser.viewOptions.enableNormalImages()" ng-class="{ 'button-primary' : browser.viewOptions.isNormalImages() }">Normal</button>
        <button ng-click="browser.viewOptions.enableGoldenImages()" ng-class="{ 'button-primary' : browser.viewOptions.isGoldenImages() }">Golden</button>
    </div>
    
    <div class="loading-indicator" ng-if="!browser.initialised">
        Loading...
    </div>
    
    <div class="error-message" ng-if="browser.initialised && browser.error">
        <p>Sorry! There was a problem loading all the cards. </p>
        
        <p>Try again later or tweet at <a href="https://twitter.com/cl_dev">@cl_dev</a> to let me know something's wrong!</p>
        
        <p class="error-info">
            <strong>Response</strong>: {{browser.errorInfo.statusText}}<br />
            <strong>Error Message</strong>: {{browser.errorInfo.message}}
        </p>
    </div>
    
    <div class="collection-view" ng-if="browser.initialised">
        <div class="row card-area">
            <div class="twelve columns">
                <div class="card" ng-repeat="card in browser.collection.cards | 
                                                filter: { playerClass: browser.currentClass, type: '!hero' } | 
                                                startFrom: browser.currentPage * browser.pageSize |
                                                limitTo: browser.pageSize">
                    <div class="card-preview">
                        <div class="card-name"><span>{{card.name}}</span></div>
                        <div class="card-rarity {{card.rarity}}">{{card.rarity}}</div>
                        <div class="card-cost">{{card.cost}}</div>
                        <div class="card-attack" ng-if="card.type == 'Minion' || card.type == 'Weapon'">{{card.attack}}</div>
                        <div class="card-health" ng-if="card.type == 'Minion'">{{card.health}}</div>
                        <div class="card-health" ng-if="card.type == 'Weapon'">{{card.durability}}</div>
                        <div class="card-text"><span ng-bind-html="card.text"></span></div>
                        <div class="card-race">{{card.race}}</div>
                        <div class="card-type">{{card.type}}</div>
                    </div>
                    
                    <img src="{{card.img}}" ng-if="browser.viewOptions.isNormalImages()" />
                    <img src="{{card.imgGold}}" ng-if="browser.viewOptions.isGoldenImages()" />
                </div>
            </div>
        </div>
        
        <div class="pagination">
            <button class="previous-page" ng-if="browser.canPageBackwards()" ng-click="browser.previousPage()">&lt;</button><button class="next-page" ng-if="browser.canPageForwards()" ng-click="browser.nextPage()">&gt;</button>
        </div>
    </div>
    
</div>