<div class="body container">
    <div class="row">
        <div class="twelve columns">
            <button class="class-button" 
                ng-class="{ 'button-primary' : browser.isCurrentClass(class) }" 
                ng-click="browser.setClass(class)" 
                ng-repeat="class in browser.collection.classes">
                {{class}}
            </button>
        </div>
    </div>
    
    <div class="loading-indicator" ng-if="!browser.initialised">
        Loading...
    </div>
    
    <div class="error-message" ng-if="browser.initialised && browser.error">
        There was an error :(
    </div>
    
    <div class="collection-view" ng-if="browser.initialised">
        <div class="row card-area">
            <div class="twelve columns">
                <div class="card" ng-repeat="card in browser.collection.cards | 
                                                filter: { playerClass: browser.currentClass, type: '!hero' } | 
                                                startFrom: browser.currentPage * browser.pageSize |
                                                limitTo: browser.pageSize">
                    <img src="{{card.img}}" />
                </div>
            </div>
        </div>
        
        <div class="pagination">
            <button class="previous-page" ng-if="browser.canPageBackwards()" ng-click="browser.previousPage()">&lt;</button><button class="next-page" ng-if="browser.canPageForwards()" ng-click="browser.nextPage()">&gt;</button>
        </div>
    </div>
    
</div>