.class-button
{
    width:20%;
}

@media (max-width: 600px) { .class-button
{
    width:50%;
}}

.loading-indicator, .error-message
{
    text-align:center;
    font-size:200%;
    margin-top:20px;
}

.error-info
{
    font-size:50%;
}

.card
{
    display:inline-block;
    width:25%;
    
    /* Required to make the absolute positioning on the card images work. */
    position:relative;
    
    /*All the card images have whitespace around the top... let's squish that down. */
    margin-top:-40px;
}
.card::after
{
    /* Confused? 151% = ratio of the card image size, a.k.a. 307 * 465. 
     * This makes our card div match the aspect ratio even when the image hasn't loaded yet, 
     * allowing us to keep the page size consistent.
     */
    padding-top:151.4%;
    display:block;
    content:'';
}

/* 3 columns on smaller screens*/
@media (max-width: 950px) { .card
{
    width:33%;
}}
/* 2 columns on phone screens */
@media (max-width: 550px) { .card
{
    width:50%;
}}

.card img
{
    /* Absolute positioning required to prevent the card size interfering with our fixed-aspect div size. */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    max-width:100%;
    height:auto;
    
    /* Make sure it sits above the card preview once loaded. */
    z-index:100;
}

.card-area
{
    margin-top:20px;
}

.pagination button
{
    width:50%;
    height:80px;
    font-size:400%;
}
.next-page
{
    float:right;
}
.previous-page
{
    float:left;
}