.class-button
{
    width:20%;
}

@media (max-width: 600px) { .class-button
{
    width:50%;
}}

.loading-indicator, .error-message
{
    text-align:center;
    font-size:200%;
    margin-top:20px;
}

.error-info
{
    font-size:50%;
}

.card
{
    display:inline-block;
    width:25%;
    
    /* Required to make the absolute positioning on the card images work. */
    position:relative;
    
    /*All the card images have whitespace around the top... let's squish that down. */
    margin-top:-40px;
}
.card::after
{
    /* Confused? 151% = ratio of the card image size, a.k.a. 307 * 465. 
     * This makes our card div match the aspect ratio even when the image hasn't loaded yet, 
     * allowing us to keep the page size consistent.
     */
    padding-top:151.4%;
    display:block;
    content:'';
}

/* 3 columns on smaller screens*/
@media (max-width: 750px) { .card
{
    width:33%;
}}
/* 2 columns on phone screens */
@media (max-width: 400px) { .card
{
    width:50%;
}}

.card img
{
    /* Absolute positioning required to prevent the card size interfering with our fixed-aspect div size. */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    max-width:100%;
    height:auto;
    
    /* Make sure it sits above the card preview once loaded. */
    z-index:100;
}

.card-preview
{
    /* Absolute positioning required to prevent the card size interfering with our fixed-aspect div size. */
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
    margin-top:60px;
    margin-bottom:25px;
    margin-left:25px;
    margin-right:25px;
    
    border:1px solid black;
    border-radius:3px;
    
    line-height:1;
}

.card-preview .card-name
{
    position:absolute;
    top:12%;
    left:5%;
    
    width:90%;
    height:30%;
    
    text-align:center;
    font-size:150%;
    
    /* For vertical alignment. */
    display:table;
}
.card-preview .card-name span
{
    display:table-cell;
    vertical-align:middle;
}
.card-preview .card-rarity
{
    position:absolute;
    top:47%;
    
    width:100%;
    
    text-align:center;
    font-weight:bold;
}
.card-rarity.Rare { color:blue; }
.card-rarity.Epic { color:purple; }
.card-rarity.Legendary { color:orange; }
.card-preview .card-cost
{
    position:absolute;
    top:1%;
    left:2%;
    
    font-size:200%;
}
.card-preview .card-attack
{
    position:absolute;
    left:2%;
    bottom:2%;
    
    font-size:200%;
}
.card-preview .card-health
{
    position:absolute;
    right:2%;
    bottom:2%;
    
    font-size:200%;
}
.card-preview .card-text
{
    position:absolute;
    top:55%;
    left:7.5%;
    
    width:85%;
    height:32%;
    text-align:center;
    
    /* For vertical alignment. */
    display:table;
}
.card-preview .card-text span
{
    display:table-cell;
    vertical-align:middle;
}
.card-preview .card-race
{
    position:absolute;
    bottom:5%;
    
    width:100%;
    text-align:center;
}

.card-area
{
    margin-top:20px;
}

.pagination button
{
    width:50%;
    height:80px;
    font-size:400%;
}
.next-page
{
    float:right;
}
.previous-page
{
    float:left;
}