body
{
    padding-bottom:2em;
}

@media (max-width:400px) { .header
{
    padding-top:.5em;
    margin-bottom:1em;
}}

label
{
    display:inline-block;
    min-width:140px;
    text-align:left;
}

.error input, .error select
{
    border-color:red;
}

@media (max-width:400px) { input, select
{
    display:block;
    width:100%;
}}

.table
{
    display:table;
    width:100%;
}
.tr
{
    display:table-row;
}
.td
{
    display:table-cell;
}
.thead
{
    display:table-header-group;
    background-color:#eeeeee;
    font-weight:bold;
}
.th, .td 
{
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; 
}

a.tr
{
    text-decoration:none;
}
a.tr:hover, a.tr:focus, a.tr:active
{
    background-color:#eee;
}

.delete-button
{
    border-color:red;
    background-color:#CC0000;
    color:white;
    display:block;
    margin-top:1em;
}
.delete-button:hover
{
    color:white;
}
@media(max-width:400px) {
    .save-button, .cancel-button
    {
        width:49.25%;
    }
    .delete-button
    {
        width:100%;
    }
}